# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist
.vercel

packages/cargo-stylus/nft/.env
packages/cargo-stylus/nft/target/
packages/cargo-stylus/nft/build/.env
packages/erc20/.env
packages/nextjs/.env
